.AboutUs-title {
    text-align: center;
    color: #e164af;
    width: 80%;
    border-top: 4px solid #e164af;
    padding-top: 20px;
}

.AboutUs-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.AboutUs-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items at the start of the flex container */
    justify-content: center;
    width: 80%; /* Use the full width of the container */
    border-bottom: 4px solid #e164af; /* Example: 2px solid black border */
    padding: 20px; /* Add some padding inside the border */
    margin: 20px 0; /* Optional: Add some margin outside the border for spacing */

}

.AboutUs-image {
    flex: 1; /* Takes up 1 portion of the flex container */
    text-align: center; /* Center the image if the container is wider than the image */
    border-right: 2px solid #e164af;
    
}

.AboutUs-text {
    flex: 3; /* Takes up 3 portions of the flex container, making the text area wider than the image area */
    padding-left: 20px; /* Add some space between the image and the text */
    text-align: left;
    
}

.AboutUs-image img {
    max-width: 100%; /* Ensure the image is responsive and doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
}